# Base de Dados
DB_NAME=inventory_db
DB_USER=app_user
DB_PASSWORD=changeme_password
DB_HOST=db
DB_PORT=5432

# Flask
SECRET_KEY=changeme_secret_key_generate_a_random_one
FLASK_ENV=development
FLASK_DEBUG=1

# JWT
JWT_SECRET_KEY=changeme_jwt_secret

# Mailhog
MAIL_SERVER=mailhog
MAIL_PORT=1025
MAIL_USE_TLS=false
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=changesender@change.com

APP_BASE_URL=
